<!DOCTYPE html>
<html>
  <head>
    <title>Cakery Bakery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-left">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to "About", bakery_path(Bakery.first.id), :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cakes", cakes_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bakers", bakers_path, :class => "nav-link" %>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <%= fa_icon "twitter" %>
          <%= fa_icon "facebook" %>
          <%= fa_icon "instagram" %>
        </div>
      </div>
      <h1 class="header-title"><%= Bakery.first.name %></h1>
      <h5 style="text-align:center; color:#7d2fff;">Our bakery is freakin' sweet</h5>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
