<div>
    <%if flash[:errors]%>
        <% flash[:errors].each do |message|%>
            <%=message%>
        <%end%>
    <%end%>
    
    <%= bootstrap_form_for(@cake, layout: :horizontal, label_col: "col-md-2", control_col: "col-md-10") do |f|%>

    <%= f.text_field :name %>

    <%= f.collection_select :baker_id, @bakers, :id, :name%>

    <%= f.hidden_field :bakery_id, value: 1%>

    <%= f.select :occasion, ["Wedding", "Birthday", "Holiday"] %>

    <%= f.text_area :description %>

    <%= f.text_field :img_url, label: "Image URL" %>

    <%= f.number_field :serving_size %>

    <%= f.collection_check_boxes :flavor_ids, @flavors, :id, :name, {label: "Flavors", inline: true} %>

    <%= f.form_group :dietary_restrictions, label: { text: "Dietary Restrictions" } do %>
        <% dietary_restrictions = ["ðŸ¥œ Nuts", "ðŸ¥š Eggs", "ðŸŒ± Vegan", "ðŸžðŸš« Gluten Free", "ðŸ„ Dairy"] %>
        <% dietary_restrictions.each do |dr|%>
            <%= f.check_box :dietary_restrictions, { multiple: true, label: dr, inline: true}, dr, false %>
        <%end%>
    <% end %>

    <br>
    <%= f.submit "Save"%>
    <hr>
    <%end%>

</div>