<div>
    <%if flash[:errors]%>
        <% flash[:errors].each do |message|%>
            <%=message%>
        <%end%>
    <%end%>
    
    <%= form_for @cake do |f|%>

    <%= f.label "Name:" %>
    <%= f.text_field :name%>
<br>
    <%= f.label "Baker"%>
    <%= f.collection_select :baker_id, @bakers, :id, :name%>
    <%= f.hidden_field :bakery_id, value: 1%>
<br>
    <%= f.label "Occasion:" %>
    <%= f.select :occasion, ["Wedding", "Birthday", "Holiday"] %>
<br>
    <%= f.label "Description:" %>
    <%= f.text_area :description %>
<br>
    <%= f.label :img_url, "Image URL:" %>
    <%= f.text_field :img_url %>
<br>
    <%= f.label :serving_size, "Serving Size:" %>
    <%= f.number_field :serving_size %>
<br>
    <h4> <%= f.label "Flavors"%></h4><br>
    <ul> <%= f.collection_check_boxes :flavor_ids, @flavors, :id, :name%></ul>
    

    <h4><%= f.label :dietary_restrictions, "Dietary Restrictions:" %></h4>
    <% dietary_restrictions = ["ðŸ¥œ", "ðŸ¥š", "ðŸŒ±", "ðŸžðŸš«", "ðŸ„"] %>
    <% dietary_restrictions.each do |dr|%>
        <h5><%= f.check_box :dietary_restrictions, { multiple: true },dr, false %>
        <%= f.label dr%></h5>
    <%end%>

    <%= f.submit "Save"%>
<%end%>

</div>