
    <h1><%= @cake.name%></h1>
<div>
    <h3> Baker: <%= link_to @cake.baker.name, baker_path(@cake.baker)%></h3>
    <img class= "show-img" src="<%= @cake.img_url%>" width="350" height="350">
    <p><b> Description:</b> <%= @cake.description%></p>
    <p><b> Occasion:</b> <%= @cake.occasion%></p>

<hr>
    <p><b>Flavors: </b></p>
    <ul>
    <% @cake.flavors.each do |flavor| %>
        <li><%= flavor.name %></li>
    <%end%> 
    </ul> 
<hr>
    <p><b> Dietary Restrictions: </b></p>
        <%dr = @cake.dietary_restrictions%>
        <%dr_parse = JSON.parse(dr)%> 
        <%dr_parse.each do |dietary_restrictions|%>
        <span><%= dietary_restrictions%></span>
        <%end%>

    <p> <% if @logged_in_bakery %>
            <%= button_to "Make Changes", edit_cake_path, :method => :get %>
        <%end%> </p><hr>    

    <p><%= button_to "Back To All Cakes", cakes_path, :method => :get %></p>
    <p><%= button_to "Back Home", bakeries_path, :method => :get %></p>



</div>    