<div class="row">
    <div class="col-6">
        <img class= "show-img" src="<%= @cake.img_url%>" alt="cake image" width="450" height="450">
    </div>
    <div class="col-6">
        <h3><b><%= @cake.name%></b></h3>
        <p><b>Baker: </b><%= link_to @cake.baker.name, baker_path(@cake.baker)%></p>

        <p><b> Description:</b> <%= @cake.description%></p>

        <p><b> Suggested Occasion:</b> <%= @cake.occasion%></p>

        <p><b>Flavors: </b></p>
            <ul>
            <% @cake.flavors.each do |flavor| %>
                <li><%= flavor.name %></li>
            <%end%> 
            </ul> 

        <p><b> Dietary Restrictions: </b></p>
            <%dr = @cake.dietary_restrictions%>
            <%dr_parse = JSON.parse(dr)%> 
            <%dr_parse.each do |dietary_restrictions|%>
            <span><%= dietary_restrictions%></span>
            <%end%>
    </div>  
</div>    
<hr>
    <p><%= button_to "Back To All Cakes", cakes_path, :method => :get %></p>
    <p><%= button_to "Make Changes", edit_cake_path(@cake.id), :method => :get %></p>
