<h1>This is the cake show page</h1>

<div>
    <h4><%= @cake.name%></h4>
    <h4> Baker: <%= @cake.baker.name%></h4>
    <img class= "show-img" src="<%= @cake.img_url%>" width="350" height="350">
    <h4> Occasion: <%= @cake.occasion%> </h4>

<hr>
    <h3>Flavors</h3>
    <% @cake.flavors.each do |flavor| %>
        <h4><%= flavor.name%></h4>

    <%end%>  
<hr>
    <h4> Dietary Restrictions: 
    <%dr = @cake.dietary_restrictions%>
    <%dr_parse = JSON.parse(dr)%> 
    <%dr_parse.each do |dietary_restrictions|%>
      <%= dietary_restrictions%>
    <%end%>
    </h4>

    <span><%= button_to "Back To All Cakes", cakes_path, :method => :get %></span>
    <span><%= button_to "Make Changes", edit_cake_path(@cake.id), :method => :get %></span>

</div>    