<h3>Edit Bakery Info</h3><br>
<div>
    <% if flash[:errors] %>
        <% flash[:errors].each do |message| %>
            <p> <%= message %> </p>
        <% end%>
    <% end%>
   
    <%= bootstrap_form_for(@bakery, layout: :horizontal, label_col: "col-md-2", control_col: "col-md-10") do |f|%>
       
        <%= f.text_field :name %>
    
        <%= f.text_area :about %>
    
        <%= f.text_field :img_url, label: "Image URL" %>
    
        <%= f.text_field :location %>
    
        <%= f.text_field :hours %>
    
        <%= f.text_field :phone %>
    
        <%= f.text_field :email, label: "E-mail" %>
    
        <%= f.text_field :password %>
    
        <%= f.submit "Update Info" %>
        <hr>
    <% end %>
</div>