

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="https://thegreatbritishbakeoff.co.uk/wp-content/uploads/2019/10/Black_Forest_Choc_Cake_1024x450_3-380x360.png" style="width:100%;" alt="cake 1 image">
        </div>
        <div class="col-sm">
            <img src="https://thegreatbritishbakeoff.co.uk/wp-content/uploads/2019/10/blackberry_pound_cake_1125x1125-380x360.png" style="width:100%;" alt="cake 2 image">
        </div>
        <div class="col-sm">
            <img src="https://thegreatbritishbakeoff.co.uk/wp-content/uploads/2019/10/Rahul_Surprise_Cake_1125x1125_2-380x360.png" style="width:100%;" alt="cake 2 image">
        </div>
    </div>
</div>
<hr>
<h4>Featured Bakers: </h4>

<div class="baker-wrapper">
    <% @bakers.each do |baker| %>
        <% if baker.star_baker %>
            <div class="card text-center" style="width: 200px; margin-bottom:14px;">
                <img src="<%= baker.img_url %>" class="card-img-top" alt="baker photo" width="200" height="200" />
                <div class="card-body">
                    <p class="card-text">
                    ⭐️ <%= link_to baker.name, baker_path(baker) %>
                    </p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<% if @logged_in_bakery %>
    <p> <%= button_to "Logout", eliminate_path, method: :delete %> </p>
    <ul>Welcome, <%= @logged_in_bakery.name %>!</ul>
<% else %>
    <p><%= button_to 'Login', login_path, method: :get %></p>
<% end %>
<hr>
