
<div>
    <% if flash[:errors] %>
        <% flash[:errors].each do |message| %>
        <%= message %>
        <% end %>
    <% end %>
    
    <%= bootstrap_form_for(@baker, layout: :horizontal, label_col: "col-md-2", control_col: "col-md-10") do |f|%>

        <%= f.text_field :name %>

        <%= f.text_area :bio %>

        <%= f.text_field :img_url, label: "Image URL" %>

        <%= f.text_field :quote %>

        <%= f.check_box :star_baker, label: " ⭐️ Star Baker" %><br>

        <%= f.select :employment_status, ["Active", "On Leave", "Fired"] %>

        <%= f.hidden_field :bakery_id, value: 1 %>
        <br>    
        <%= f.submit "Save" %>
        <hr>
        <% end %>
</div>