<h1>Baker Form</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
    <%= message %>
    <% end %>
<% end %>
<hr>
<%= form_for @baker do |f| %>
    <%= f.label :name, 'Name: '%>
    <%= f.text_field :name %><br>
<br>
    <%= f.label :bio, 'Bio: '%>
    <%= f.text_area :bio %><br>
<br>
    <%= f.label :img_url, 'Image URL: '%>
    <%= f.text_field :img_url %><br>
<br>
    <%= f.label :quote, 'Quote: '%>
    <%= f.text_field :quote %><br>
<br>
    <%= f.label :star_baker, '⭐️ Star Baker? '%>
    <%= f.check_box :star_baker %><br>
<br>
    <%= f.label :employment_status, 'Employment Status: '%>
    <%= f.select :employment_status, ["Active", "On Leave", "Fired"] %><br>
<br>
    <%= f.hidden_field :bakery_id, value: 1 %><br>
<br>    
    <%= f.submit %>
<% end %>