<h3 style="text-align:center;">Meet Our Bakers!</h3>

<div style="text-align: center; margin: 1em 0;">
    <img src="https://thegreatbritishbakeoff.co.uk/wp-content/uploads/2019/05/GBBO9_Baker_Group_1209_1024x450_2.png" alt="group photo">
</div>

<div class="baker-wrapper">
    <% @bakers.each do |baker| %>
        <% if baker.employment_status == "Active" %>
            <div class="card text-center" style="width: 350px; margin-bottom:14px;">
                <img src="<%= baker.img_url %>" class="card-img-top" alt="individual photo" width="350" height="350">
                <div class="card-body">
                    <% if baker.star_baker %>
                        ⭐️ <%= link_to baker.name, baker_path(baker), :class => "card-text" %>
                    <% else %>
                        <%= link_to baker.name, baker_path(baker), :class => "card-text" %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
<p> <% if @logged_in_bakery %>
        <%= button_to "Hire a Baker!", new_baker_path, :method => :get %>
    <%end%>
</p><hr>

<p><%= button_to "Back Home", bakeries_path, :method => :get %></p>