


  <div class="row">
    <div class="col-6">
        <img src="<%=@baker.img_url%>" alt="baker image" width="450" height="450">
    </div>
    <div class="col-6">
        <p><b>Name: </b><%= @baker.name %></p>

        <% if @baker.star_baker == true %>
            <p>⭐️ This is a Star Baker!</p>
        <% end %>

        <p><b>Favorite Quote: </b>"<%= @baker.quote %>"</p>

        <p><b>Bio: </b><%= @baker.bio %></p>
    </div>
  </div>


<p><b>Cakes by <%=@baker.name%>: </b></p>

<div class="baker-wrapper">
    <% @baker.cakes.each do |cake| %>
        <div class="card text-center" style="width: 300px; margin-bottom:14px;">
            <img src="<%= cake.img_url %>" class="card-img-top" alt="cake image" width="300" height="300">
            <div class="card-body">
                <%= link_to cake.name, cake_path(cake) %>
            </div>
        </div>
    <% end %>
</div>

<br>
<p><%= button_to "Back To Bakers", bakers_path, :method => :get %></p>
<p><%= button_to "Back Home", bakeries_path, :method => :get %></p>