<h1>All About <%=@baker.name%></h1>
<hr>
<img src="<%=@baker.img_url%>" alt="baker image" width="450" height="450">

<p>Name: <%= @baker.name %></p>

<% if @baker.star_baker == true %>
    <p>This is a Star Baker!</p>
<% end %>

<p>Favorite Quote: "<%= @baker.quote %>"</p>

<p>Bio: <%= @baker.bio %></p>

<p>Cakes: </p>

<% @baker.cakes.each do |cake| %>
    <img src="<%= cake.img_url %>" alt="cake image"><br>
    <%= link_to cake.name, cake_path(cake) %><br>
<% end %>

<br>
<p><%= link_to "Back to Bakers", bakers_path %></p>
<p><%= link_to "Back Home", bakeries_path %></p>